#hero 
{
    display: flow-root;
    width: 100%;
    position: relative;
    overflow: hidden;
}

#mission 
{
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: right;
    background-color: var(--primary);
    background-size: 50%;
    color: var(--white);
    overflow: hidden;
}

#missionStatement
{
    font-size: 2.5rem;
    padding: 1rem 10rem;
    line-height: 5rem;
    width: 50%;
    position: relative;
    z-index: 2;
}

#missionStatement h2 
{
    font-weight: normal;
}

#subMission 
{
    position: relative;
    width: 50%;
    z-index: 2;
    padding-left: 8rem;
}

#decorBottom 
{
    position: relative;
    top: 1.5rem;
    z-index: 2;
}

#decorRight 
{
    width: 100%;
    position: absolute;
    z-index: 1;
}