#banner 
{
    background-color: var(--green);
    color: var(--light);
    text-align: center;
    font-family: var(--font1);
    letter-spacing: .65px;
    font-weight: 700;
    padding: 10px 20px;
    font-size: 1rem;
}

#whoareuContainer
{
    border: 1px solid black;
    width: 70%;
    margin: 0 auto;
    position: relative;
    top: -5.5vw;
    z-index: 3;
    background-color: white;
    display: flow-root;
    border-radius: .5rem;
}

.whoareu 
{
    float: left;
    width: 50%;
    text-align: center;
    letter-spacing: .5px;
    padding: 3rem;
    font-size: 1.8rem;
}

.whoareu p:first-of-type
{
    font-size: 1.777rem;
    color: #333333;
    padding: .5rem;
    font-weight: 600 !important;
}

.whoareu p:last-of-type
{
    font-size: 1rem;
    color: var(--gray);
    line-height: 1.66em;
}

.whoareu button
{
    display: block;
    margin: 0 auto;
    min-width: 160px;
    margin-top: 1.5rem;
    border: 1px solid transparent;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 5px;
    font-weight: 700 !important;
    color: #fff;
    background-color: #2E5EAA;
    border-color: #2E5EAA;
    cursor: pointer;
}

.whoareu img 
{
    display: block;
    margin: 0 auto;
}

#kpiContainer 
{
    display: flow-root;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 5rem;
}

#kpiContainer .kpi:last-child 
{
    padding-right: 0;
}

.kpi 
{
    font-size: 1.61rem;
    text-align: center;
    padding: 0 3rem;
    float: left;
}

.kpiFigure 
{
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.kpiFigure h1
{
    position: inherit;
    margin: 0 auto;
    font-size: 2.2rem;
    line-height: 1.35em;
    width: fit-content;
    z-index: 2;
}

.kpiFigure span 
{
    display: block;
    width: 100%;
    position: absolute;
    background-color: #00A896;
    padding: 0.4rem;
    bottom: 5px;
    z-index: 1;
}

.kpi p 
{
    padding: .5rem;
    font-size: 1rem;
    color: var(--gray);
}

.candEmp
{
    display: flow-root;
    width: 88.5%;
    margin: 0 auto;
    padding-bottom: 5rem;
    padding-bottom: 8.4375rem;
}

.candEmp:nth-of-type(odd) .descriptionContainer 
{
    float: left;
} 

.descriptionContainer
{
    width: 50%;
    float: right;
    padding: 0 2.5rem;
}

.descriptionTitle 
{
    font-size: 3.125rem;
    padding: 0 1.8rem;
    margin-bottom: 1rem;
    width: 100%;
}

.descriptionBody 
{
    width: 100%;
    font-size: 1.125rem;
    padding: 2rem;
    line-height: 2.25rem;
    margin-bottom: 1rem;
}

.promoFrame 
{
    margin-top: 6rem;
    width: 50%;
    float: left;
}

.candEmp:nth-of-type(odd) .promoFrame
{
    float: right;
} 

.promoFrame img 
{
    border-radius: .5rem;
    box-shadow: 2rem 2rem var(--green), -2rem -2rem #00A896;
    display: block;
    width: 100%;
}

.lista ul
{
    list-style-type: none;
}

.lista a 
{
    text-decoration: none;
}

.itemList 
{
    display: flow-root;  
    font-size: 1.125rem;
    padding: 1rem;
}

.itemList img, .itemList span, .itemList svg
{
    display: inline-block;
    position: relative;
}

.itemList img 
{
    margin-right: 1rem;
}

.itemList span, .itemList svg 
{
    color: var(--gray);
    font-weight: 600 !important;
    top: -.5rem;
}

#partners, #customers 
{
    background-color: #FAFAFA;
    font-size: 2.25rem;
    text-align: center;
    padding: 5rem 0;
    border: 1px solid red;
}

#carousel 
{
    position: relative;
    margin-top: 3rem;
    padding: 3rem 0rem;
    overflow: hidden;
}

#pictures 
{
    position: relative;
    overflow: hidden;
    max-height: 8.4rem;
    justify-content: space-between;
    white-space: nowrap;
    display: flex;
}

#pictures img
{
    border: 1px solid;
    display: inline-block;
    width: 200px;
    height: 133px;
    margin-right: 2.5rem;
    padding: 0;
    position: relative;
    left: 0rem;
}

.button 
{
    display: block;
    width: fit-content;
    width: 2rem;
    height: 2rem;
    padding: .3rem;
    font-size: 1rem;
    border-radius: .1rem;
    background-color: var(--green);
    color: white;
    position: absolute;
    top: 50%;
}

#carousel .button:first-of-type
{
    left: 1rem;
} 

#carousel .button:last-of-type
{
    right: 1rem;
} 

#carousel2 
{
    position: relative;
    margin-top: 3rem;
    padding: 3rem 0rem;
    overflow: hidden;
}

#latest 
{
    display: flow-root;
    margin: 0 auto;
    font-size: 3.125rem;
    width: 85%;
    padding-bottom: 5rem;
}

#groupNews 
{
    margin-top: 1.5rem;
    display: flow-root;
    width: fit-content;
}

#groupNews a 
{
    text-decoration: none;
}

#groupNews img 
{
    display: block;
    width: 23%;
    min-height: 302.097px;
    max-height: 302.097px;
    float: left;
}

.news 
{
    width: 23%;
    min-height: 302.097px;
    max-height: 302.097px;
    position: relative;
    padding: 42px;
    float: left;
    border: 1px solid black;
    margin-right: 2.65rem;
    margin-bottom: 1rem;
}

#groupNews .news:nth-of-type(3), #groupNews .news:nth-of-type(6) 
{
    margin-right: 0;
}

#groupNews .news:nth-of-type(4), #groupNews .news:nth-of-type(5), #groupNews .news:nth-of-type(6) 
{
    margin-bottom: 0;
}

.news h3
{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600 !important;
}

.news span 
{
    text-transform: uppercase;
    color: #216E70;
    font-size: 0.6rem;
    letter-spacing: 0.5px;
    display: block;
    margin-bottom: .5rem;
}

.readMore 
{
    position: absolute;
    bottom: 0;
    font-weight: 600 !important;
    margin-bottom: 60px;
    border: 1px solid;
    font-size: 0.8rem;
}

@media screen and (max-width: 961.5px) 
{
    #banner 
    {
        font-size: .9rem;
    }
}

@media screen and (max-width: 874.5px) 
{
    #banner 
    {
        font-size: .8rem;
    }
}

@media screen and (max-width: 788.5px) 
{
    #banner 
    {
        font-size: .7rem;
        line-height: 1.6;
    }

    .whoareu 
    {
        padding: 2rem;
    }
}

@media screen and (max-width: 650.5px) 
{
    .whoareu 
    {
        padding: 1rem;
    }
}

@media screen and (max-width: 555.5px) 
{
    .whoareu 
    {
        padding: .5rem;
        font-size: 1rem;
    }

    .whoareu button
    {
        font-size: 1rem;
    }

    .whoareu p:last-of-type
    {   
        font-size: .8rem;
    }
}