#intro 
{
    display: flow-root;
    border: 0px solid;
    overflow: hidden;
    background-color: white;
    border-radius: 0 0 20% 20%;
    background-color: var(--green);
}

#text
{
    background-color: inherit;
    width:50%;
    border-radius: 0 7.2vw 7.2vw 0rem;
    position: relative;
}

#textblock
{
    padding: 10% 15vw;
    position: relative;
    font-weight: normal;
    color: white;
    width: fit-content;
    font-size: 18px;
    z-index: 4;
    margin: 0 auto;
    text-align: center;
}

#textblock h1 
{
    text-align: left;
    font-weight: inherit;
    font-size: 5.375rem;
    line-height: 1.05em;
    margin-bottom: 1vw; 
}

#textblock p 
{
    position: absolute;
    top:85%;
    left:0px;
    right:0px;
    bottom:0px;
    margin: 0 auto;
}

#circle 
{
    border-radius: 50%;
    background-color: inherit;
    height: inherit;
    width: inherit;
    padding: 20vw 0;
    position: absolute;
    left: 30vw;
    top:0;
}

#imgContainer 
{
    float: right;
    width:50%;
    position: relative;
    right: 6.6vw;
}

#imgContainer img 
{
    width: 120%;
    display: block;
}

@media screen and (max-width: 1024.5px) {
    #textblock h1 
    {
        font-size: 3.375rem;
    }

    #textblock p 
    {
        font-size: 1rem;
    }
}

@media screen and (max-width: 700.5px) {
    #textblock h1 
    {
        font-size: 2.375rem;
    }
}

@media screen and (max-width: 553.5px) {
    #textblock p 
    {
        font-size: .8rem;
    }
}

@media screen and (max-width: 500.5px) {

    #textblock h1 
    {
        font-size: 2rem;
    }
    
    #textblock p 
    {
        font-size: .7rem;
    }
}