nav 
{
    display: flow-root;
    padding: 1.1rem 6rem;
}

#menuBar 
{
    display: flow-root;
    margin-top: 3.6rem;
}

nav ul 
{
    display: block;
}

nav ul li 
{
    float: left;
    display: block;
}

.menuItem a 
{
    font-weight: 600;
    font-size: .8rem;
    padding: .8rem 1rem;
}

ul li:first-child .menuItem a 
{
    padding-left:2rem;
}

ul li:last-child .menuItem a 
{
    padding-right: 0;
}

.dropDownIcon 
{
    padding-top: 2px;
    vertical-align: super;
    height: 7px;
}

#logo 
{
    min-width: 24%;
    width: fit-content;
    float: left;
}

#logo img
{
    display: block;
    max-width: 250px;
    height: auto;
    border-style: none;
}

#searchVacancy 
{
    text-align: end;
    float: right;
    min-width: 76%;
    color: var(--primary);
    font-weight: 600;
    font-size: .8rem;
    padding: 1rem 0;
}

#searchVacancy span 
{
    font-size: 1rem;
}

#searchVacancy a 
{
    padding: 0 2rem;
}

#searchVacancy a:first-child 
{
    border-right: 1px solid;
}

#searchBar 
{
    float: right;
    position: relative;
    top: -1.5rem;
}

#searchBar img 
{
    display: block;
    width: 1.7rem;
}