* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

section 
{
    display: flow-root;
    background-color: #216E70;
    color: white;
    overflow: hidden;
    font-family: "Open Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    transform: skewX(1.5);
}

#containerImg 
{
    float: right;
    position: relative;
    z-index: 1;
}

#containerImg img
{
    width: 107%;
}

#text
{
    background-color: inherit;
    border-radius: 50%;
    max-width:58.5%;
    position: absolute;
    z-index: 2;
    padding: 20rem;
    top: -7rem;
    left: 7.9rem;
}

#textContent 
{
    margin:0 auto;
    width: fit-content;
    border: 1px solid red;
    max-width: 50%;
}

#text h1 
{
    font-size: 86px;
    font-weight: normal;
}

#text p 
{
    margin-top: 1rem;
    font-size: 18px;
}